@font-face {
    font-family: 'SUITE';
    src: url('../fonts/SUITE/SUITE-Light.woff2');
    src: url('../fonts/SUITE/SUITE-Light.otf') format('otf'),
        url('../fonts/SUITE/SUITE-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'SUITE';
    src: url('../fonts/SUITE/SUITE-Regular.woff2');
    src: url('../fonts/SUITE/SUITE-Regular.otf') format('otf'),
        url('../fonts/SUITE/SUITE-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SUITE';
    src: url('../fonts/SUITE/SUITE-ExtraBold.woff2');
    src: url('../fonts/SUITE/SUITE-ExtraBold.otf') format('otf'),
        url('../fonts/SUITE/SUITE-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}


